In [1]:
from fractions import Fraction as F

In [4]:
print(F(1,3))

1/3

In [22]:
x=2/9

In [15]:
y=-3

In [16]:
type(x)

float

In [17]:
type(y)

int

In [18]:
x

0.4444444444444444

In [24]:
z=x+y

In [25]:
z

-2.7777777777777777

In [27]:
#add +, subtract -, multiply * and divide /
5/-2

-2.5

In [28]:
#powers
(-3)**3

-27

In [29]:
#Section 4.2

In [30]:
list_1 = [0,1,2,3]

In [31]:
list_2 = ["cat", "dog", "fish", "frog"]

In [36]:
list_2[-2]

'fish'

In [37]:
list_3 = list_1+list_2

In [38]:
list_3

[0, 1, 2, 3, 'cat', 'dog', 'fish', 'frog']

In [39]:
list_3[1]="ZERO"

In [40]:
list_3

[0, 'ZERO', 2, 3, 'cat', 'dog', 'fish', 'frog']

In [41]:
list_3[-1]="FROG"

In [42]:
list_3

[0, 'ZERO', 2, 3, 'cat', 'dog', 'fish', 'FROG']

In [48]:
list_3.sort(reverse=True)
print(list_2)

TypeError: '<' not supported between instances of 'int' and 'str'

In [49]:
new_list = ["a","b","c","d","e","f"]

In [54]:
#[a:b] a is included as the first element, and we slice everything before b
new_list[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [55]:
#Section 4.3

In [56]:
tup_1=(1,2,3)

In [57]:
type(tup_1)

tuple

In [58]:
tup_2=("one","two","three")

In [59]:
tup_2

('one', 'two', 'three')

In [63]:
len(tup_2)

3

In [64]:
tup_2[0]="ONE"

TypeError: 'tuple' object does not support item assignment

In [65]:
#SECTION 4.4

In [66]:
this = "my long string"

In [67]:
type(this)

str

In [70]:
this[0:3]

'my '

In [71]:
new = "...ends here!"

In [72]:
type(new)

str

In [74]:
new_string=this+new

In [75]:
new_string

'my long string...ends here!'

In [76]:
print(new_string*2)

my long string...ends here!my long string...ends here!

In [77]:
count = 0
for letter in new_string:
    if(letter == "n"):
        count += 1
        #count = count + 1
print(count, "n's found in string.")

3 n's found in string.

In [78]:
len(new_string)

27

In [79]:
#Section 4.4

In [80]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [81]:
#listing all item existing in A or B
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [83]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [84]:
A&B

{4, 5}

In [86]:
A

{1, 2, 3, 4, 5}

In [87]:
B

{4, 5, 6, 7, 8}

In [88]:
A-B

{1, 2, 3}

In [89]:
B-A

{6, 7, 8}

In [90]:
#Section 4.6

In [92]:
#{"key1":"value1", "key2": 5}

In [100]:
my_dict = {"john":500,"sarah": 800}

In [102]:
my_dict["sarah"]

800

In [103]:
adv = {"k1": 75, "k2": "dog", "k3":[0,1,2], "k4":{"inner":"wow!"}}

In [104]:
adv["k3"]

[0, 1, 2]

In [105]:
adv["k3"][-1]

2