Lists  Section 4.2

Lists are created by placing all the items/elements in a sequence inside the square brackets[], separates by commas.
It can have any number of items and they may be of differient types:
    Integers.
    Floats.
    Strings.
    And more!
Great for building up data frames, an advanced data storage option we'll use later on.

In [1]:
list_1 = [0,1,2,3]

In [2]:
list_2 = ["cat", "dog", "fish", "frog"]

In [3]:
list_2[1]

'dog'

In [4]:
list_2[-1]

'frog'

In [5]:
list_3 = list_1+list_2

In [6]:
list_3

[0, 1, 2, 3, 'cat', 'dog', 'fish', 'frog']

In [7]:
list_3[1]="ZERO"

In [8]:
list_3

[0, 'ZERO', 2, 3, 'cat', 'dog', 'fish', 'frog']

In [9]:
list_3[-1]="FROG"

In [10]:
list_3

[0, 'ZERO', 2, 3, 'cat', 'dog', 'fish', 'FROG']

In [11]:
list_1.sort(reverse=False)

In [12]:
list_3.sort(reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [15]:
new_list = ["a", "b","c","d","e","f"]

In [19]:
# [a:] a is included as the first element, and we slice everything after b
new_list[0:2]

['a', 'b']

In [20]:
new_list[2:]

['c', 'd', 'e', 'f']