Anonymous functions   Section 3.3.

These are functions defined without a formal name definition.
They are called "lambda" functions.
Great for functions that will be used a single time.
Filtering data.
    Picking list items that fit a given criteria.
Mapping data.
    Updating a list of values

In [1]:
double = lambda x:x*2

In [2]:
double(5)

10

In [3]:
double(-5)

-10

In [4]:
def doubler(number):
    return number*2

In [5]:
doubler(5)

10

In [10]:
my_list = [1,4,5,6,7,19]

new_list = list(filter(lambda x:(x%2 == 0) ,my_list))

print(new_list)

[4, 6]

In [12]:
my_list = [1,4,5,6,7,19]

new_list = list(map(lambda x:x**2,my_list))

print(new_list)

[1, 16, 25, 36, 49, 361]